<div class="container">
  <%= form_with url: edit_user_path(current_user), method: "patch" do |f| %>
    <div class="input-field white-text">
      <%= f.label :picture_url %>
      <%= f.text_field :picture_url %>
    </div>

    <div class="btn waves-effect black-text">
      <%= f.submit "Add Picture" %>
    </div>
  <% end %>
</div>