<div class="container">
  
  <div class="row profile-info">
    <div id="profile-picture" class="col s3">
      <%= image_tag("Karl-defualt.jpg", :alt => "default", :class => "hoverable") %>
    </div>
    <div class="col s3 white-text ">
      <h5>Welcome</h5>
      <h5><%= current_user.first_name.capitalize %></h5>
    </div>
  </div>





  <%= button_to "Make a new request", requests_path %>

  <div id="requests">
    <% Request.all.each do |r| %>
      <p><%= r.student.first_name %></p>
    <% end %>
  </div>

</div>